
* {
  font-family:'Courier New', Courier, monospace ;
}

body {
  background:#eee;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
body h2 {
  color: #e91e63;
}
